.homeCategoriesCard {
    height: 320px;
    width: 352px;
    border: 1px solid lightgray;

    &-image {
        height: 263px;
        width: 350px; 
    }

    &-bottom {


        &-categoryArea {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          &-icon {
            display: flex;
            
          }
        }

      
    }
}