@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --background: #FFFFFF;
  --color-dark: #000000;
  --color-gray: #C2C8DA;
  --color-yellow: #E6C744;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Roboto;
  max-width: 100vw;
  background-color: var(--background);
  color: var(--color-dark)
}

img {
  display: block;
}


a {
  color: inherit;
  text-decoration: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width:100vw;
  display:flex;
  flex-direction:column;

}

.wrapper {
  display: flex;
  align-items: flex-start;
  min-height: 80.2vh;
  max-width: 1200px;
  margin:0px auto;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

