.home-components {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;

    &-top {
       max-width: 1200px;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
    }
}