.header {
  max-width: 100%;
  border: 1px solid gray;
  height: 6rem;
  

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;

    &__search {
      &-button {


        &-icon {

        }
      }
    }

    &__customerInfo {
        border: 1px solid red;
        display: flex;
        justify-content: space-around;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
  }
}
